<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoRecicla"
        tools:targetApi="31">
        <activity
            android:name=".Consejos"
            android:exported="false" />
        <activity
            android:name=".Estadisitica"
            android:exported="false" />
        <activity
            android:name=".CategoryMetal"
            android:exported="false" />
        <activity
            android:name=".CategoryTextil"
            android:exported="false" />
        <activity
            android:name=".CategoryPlastic"
            android:exported="false" />
        <activity
            android:name=".CategoryGlass"
            android:exported="false" />
        <activity
            android:name=".categoryPapelYCarton"
            android:exported="false" />
        <activity
            android:name=".categoryMenu"
            android:exported="false" />
        <activity
            android:name=".settingsUser"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".recuperatePassword"
            android:exported="false" />
        <activity
            android:name=".RegisterLog"
            android:exported="false" />
        <activity
            android:name=".loginApp"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.EcoRecicla" />
        <activity
            android:name=".mainApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>